<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form
        #f="ngForm"
        (ngSubmit)="doAction(f)"
        ngNativeValidate
        class="was-validated"
      >
        <div class="row">
          <div class="col-md-12">
            <h2>
              <em><u>Administrador de Expedientes</u></em>
            </h2>
            <hr />
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="title">Nro° Nota</label>
              <input
                type="text"
                class="form-control"
                id="nro_nota"
                name="nro_nota"
                placeholder="ingrese N° nota"
                [(ngModel)]="item.nro_nota"
                required
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="title">Fecha </label>
              <input
                type="date"
                class="form-control"
                id="fecha"
                name="fecha"
                placeholder="ingrese fecha "
                [(ngModel)]="item.fecha"
                required
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <app-combo-tematica
                [dibujar]="item.tematica"
                (emity)="seleccionTematica($event)"
              >
              </app-combo-tematica>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="title">Ingreso de nota</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  name="entrada"
                  id="entrada"
                  [(ngModel)]="item.entrada"
                />
                <label class="form-check-label" for="defaultCheck1">
                  Indique si es interno
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="title">Palabra Clave </label>
              <input
                type="text"
                class="form-control"
                id="palabra_clave"
                name="palabra_clave"
                placeholder="Ingrese alias para identificación"
                [(ngModel)]="item.palabra_clave"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card border-info mb-3">
              <div class="card-header">Unidad origen</div>
              <div class="card-body text-danger">
                <div class="row">
                  <div class="col-md-12">
                    <app-fil-unidad-autocompletado
                      (unidadSeleccionada)="unidad($event)"
                    >
                    </app-fil-unidad-autocompletado>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <br />
                    <div
                      *ngIf="item.unidad_origen.id > 0"
                      class="alert alert-warning"
                      role="alert"
                    >
                      {{ item.unidad_origen.nombre }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Observaciones</label>
              <textarea
                class="form-control"
                id="observaciones"
                name="observaciones"
                rows="3"
                [(ngModel)]="item.observaciones"
              ></textarea>
            </div>
          </div>
        </div>
        <hr />
        <div class="form-group">
          <input
            type="submit"
            name="btn"
            value="Aceptar"
            class="btn btn-primary btn-lg btn-block float-left"
          />
          &nbsp;
          <a (click)="back()" #cerrar class="btn btn-info btn-lg btn-block">
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
