#sidebar {
  // color: rgb(139, 0, 23);
  // border-right: dotted;
  // border-color: crimson;
  background-color: rgba($color: #ffffff, $alpha: 0.87);
}
a.active {
  color: blue;
  text-shadow: 3px 3px 9px lightgray;
  font-family: Times New Roman;
  font-style: oblique;
  font-size: 25px;
}
a {
  color: grey;
}
