<div class="overlay" *ngIf="load">
  <app-wg-cargando></app-wg-cargando>
</div>

<div *ngIf="!load">
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-12 text-center">
        <b id="titulo2"
          ><em><u> Sistema Gestor de Archivos Digitales</u></em></b
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <b id="titulo"
          ><em><u>Listado de Usuarios</u></em>
        </b>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-9">
        <app-fil-usuario-oci (filter)="doFound($event)"></app-fil-usuario-oci>
      </div>
      <div class="col-md-3">
        <br>
        <form ngNativeValidate #f="ngForm">
          <div id="custom-search-input">
            <div class="input-group col-md-12 mb-2">
              <input
                name="filtro"
                [(ngModel)]="crit"
                type="text"
                class="search-query form-control"
                placeholder="Buscar"
              />
              <span class="input-group-btn">
                <button
                  class="btn btn-danger"
                  (click)="datoVista()"
                  type="submit"
                >
                  <span class="fas fa-search"></span>
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <table class="table">
        <thead class="bg-dark text-center">
          <tr style="color: white">
            <th>Acción</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Permiso</th>
            <th>Tipo Usuario</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of items">
            <td>
              <ng-container
                *ngIf="
                  item.datosPersonal.tipoPersona == 'Personal Civil' &&
                    item.datosPersonal.nombre != nombreUsu;
                  then thenTemplate;
                  else elseTemplate
                "
              ></ng-container>
              <ng-template #thenTemplate>
                <div class="row">
                  <div class="col">
                    <button
                      (click)="linkear(item.civil)"
                      type="button"
                      title="Modificar"
                      placement="top"
                      show-delay="10"
                      class="btn btn-outline-info btn-sm"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    &nbsp;
                    <button
                      (click)="preDelete(item)"
                      type="button"
                      title="Inhabilitar Usuario"
                      placement="top"
                      show-delay="10"
                      class="btn btn-outline-danger btn-sm"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template #elseTemplate>
                <button
                  *ngIf="item.datosPersonal.nombre != nombreUsu"
                  (click)="preDelete(item)"
                  type="button"
                  title="Inhabilitar Usuario"
                  placement="top"
                  show-delay="10"
                  class="btn btn-outline-danger btn-sm"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </ng-template>
            </td>
            <td>{{ item?.datosPersonal?.apellido }}</td>
            <td>{{ item?.datosPersonal?.nombre }}</td>
            <td>{{ item?.datosPersonal?.norDni }}</td>
            <td class="text-primary">
              <b>{{ item?.datosPersonal?.rol }}</b>
            </td>
            <td class="text-success">
              <b>{{ item?.datosPersonal?.tipoPersona }}</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="items.length === 0"
      class="alert alert-primary alert-dismissible fade show"
      role="alert"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Salir</span>
      </button>
      <strong>No hay datos</strong>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6" id="derecha">
      <button (click)="habilitar()" class="btn btn-outline-info">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Habilitar nuevo usuario
      </button>
    </div>
  </div>
</div>

<!--modal-->

<!-- Button trigger modal -->
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Panel de habilitación de Usuario
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <legend>
              Habilitar personal para uso del Sistema ¿Estás Seguro?
            </legend>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Habilitar</button>
      </div>
    </div>
  </div>
</div>
