<div class="col-lg-12">
    <div class="control-group">
      <div class="form-group controls">
        <select
          (ngModelChange)="capturar($event)"
          name="sexo"
          required
          [(ngModel)]="item"
          [compareWith]="compareFnPer"
          class="form-control form-sm"
          required
        >
          <option *ngFor="let item of items" [ngValue]="item">
            {{ item.nombre }}
          </option>
        </select>
      </div>
    </div>
  </div>
  