<div class="overlay" *ngIf="load">
  <app-wg-cargando></app-wg-cargando>
</div>

<div *ngIf="!load">
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-12 text-center">
        <b id="titulo2"
          ><em><u> Sistema Gestor de Archivos Digitales</u></em></b
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <b id="titulo"
          ><em><u>Listado de Expedientes/Notas varias</u></em>
        </b>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <app-fil-expediente (filter)="doFound($event)"></app-fil-expediente>
      </div>
    </div>
    <div>
      <table class="table">
        <thead class="bg-dark text-center">
          <tr style="color: white">
            <th>Fecha</th>
            <th>Nro Nota</th>
            <th>Interno|Externo</th>
            <th>Unidad</th>
            <th>Temática</th>
            <th>Palabra clave</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of items">
            <td>{{ item?.fecha | date: "dd/MM/yyyy" }}</td>
            <td class="text-dark">
              <b>{{ item?.nro_nota }}</b>
            </td>
            <td>{{ item?.entrada ? "Interno" : "Externo" }}</td>
            <td>{{ item?.unidad_origen?.nombre }}</td>
            <td class="text-danger">
              <b>{{ item?.tematica?.nombre }}</b>
            </td>
            <td class="text-success">
              <b>{{ item?.palabra_clave }}</b>
            </td>
            <td>
              <ng-container
                *ngIf="rol != 'VISTA'; then mostrar; else noMostrar"
              ></ng-container>
              <ng-template #mostrar>
                <div class="row">
                  <div class="col-md-6">
                    <button
                      (click)="linkear(item.id)"
                      type="button"
                      title="Actualizar"
                      placement="top"
                      show-delay="10"
                      class="btn btn-info btn-sm"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button
                      (click)="preDelete(item)"
                      type="button"
                      title="Eliminar"
                      placement="top"
                      show-delay="10"
                      class="btn btn-danger btn-sm"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-6">
                    <button
                      (click)="linkeaArchivo(item.id)"
                      type="button"
                      title="Agregar archivo"
                      placement="top"
                      show-delay="10"
                      class="btn btn-primary btn-sm"
                    >
                      Pdf
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button
                      type="button"
                      title="Ver archivo"
                      placement="top"
                      show-delay="10"
                      class="btn btn-warning btn-sm"
                      data-toggle="modal"
                      data-target="#exampleModal"
                      (click)="verArchivo(item)"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template #noMostrar>
                <button
                  type="button"
                  title="Ver archivo"
                  placement="top"
                  show-delay="10"
                  class="btn btn-warning btn-sm"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  (click)="verArchivo(item)"
                >
                  <i class="fas fa-eye"></i>
                </button>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="items.length === 0"
      class="alert alert-primary alert-dismissible fade show"
      role="alert"
    >
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Salir</span>
      </button>
      <strong>No hay datos</strong>
    </div>
  </div>
  <hr />
  <div *ngIf="rol != 'VISTA'" class="row">
    <div class="col-md-6" id="derecha">
      <button (click)="linkear(0)" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Ingresar nuevo
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div [innerHTML]="ver(a)" *ngFor="let a of archivo"></div>
        <div
          *ngIf="archivo.length === 0"
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
          </button>
          <strong>¡Por favor, agregue un archivo PDF para poder visualizarlo!</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Salir
        </button>
      </div>
    </div>
  </div>
</div>
